

<link rel="stylesheet" href="/style/index.css">
<link rel="stylesheet" href="/style/profile.css">

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
        <div class="profile-container">
            <div class="profile-header">
                <img src="/images/favicon.png" alt="Profile Picture" class="profile-pic">
                <h2><%= creator.name.charAt(0).toUpperCase() + creator.name.slice(1) %></h2>
                <h4>Total de recetas: <%= recuentoRecetas %></h4>

                <% if(isOwner) { %>
                    <p class="creator-email"><%= creator.email %></p>
                    <a href="/edit-profile" class="bakery-button">Editar perfil</a>
                <% } %>

            </div>
            <div class="profile-recipes">
                <h3>Mis recetas</h3>
                <div class="recipe-summary">

                    <% for (let receta of creator.recipes) { %>
                        <div class="recipe-summary">
                            <a href="/recipe-details/<%= receta._id %>">
                                <img src="<%= receta.image %>" alt="<%= receta.image %>">
                            </a>
                            <h2>
                                <a href="/recipe-details/<%= receta._id %>">
                                    <%= receta.nombre %>
                                </a>
                            </h2>
                            <p><b>Descripción:</b> <%= receta.descripcion %></p>
                            <p><b>Tiempo:</b> <%= receta.tiempo %></p>
                            <p><b>Dificultad:</b> <%= receta.dificultad %></p>
            

                            <% if(isOwner) { %>
                                <form method="post" action="/admin/delete/<%= receta._id %>">
                                    <input type="hidden" name="idReceta" value = "<%= receta._id %>">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="submit" value="Eliminar" class="bakery-button">
                                </form>

                                <form method="get" action="/admin/edit-recipe/<%= receta._id %>">
                                    <input type="hidden" name="idReceta" value = "<%= receta._id %>">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="submit" value="Editar" class="bakery-button">
                                </form>
                            <% } %>
                            
                        </div>
                    <% } %>

                </div>
                
            </div>
        </div>
    </div>
 
</body>

<%- include('../includes/footer') %>