
<link rel="stylesheet" href="/style/profile.css">
<link rel="stylesheet" href="/style/main.css">

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
        <div class="profile-container">
            <div class="profile-header">
                <img src="/images/favicon.png" alt="Profile Picture" class="profile-pic">
                <h2><%= creator.name.charAt(0).toUpperCase() + creator.name.slice(1) %></h2>
                <h4>Total de recetas: <%= recuentoRecetas %></h4>

                <% if(isOwner) { %>
                    <p class="creator-email"><%= creator.email %></p>
                    <a href="/edit-profile" class="bakery-button">Editar perfil</a>
                <% } %>

            </div>
            <div class="profile-recipes">
                <h2>Mis recetas</h2>
                
                <% for (let receta of creator.recipes) { %>
                    <a href="/recipe-details/<%= receta._id %>">
                        <div class="recipe-summary">
                            
                            <img src="<%= receta.image %>" alt="<%= receta.image %>"  >
                          
                            <h2 id="title-recipe"> 
                                <% if (isAuthenticated) { %>
                                    <form method="post" action="/add-bookmark" class="favoritos">
                                        <input type="hidden" name="idReceta" value = "<%= receta._id %>">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button type="submit" class="bakery-button">
                                            <i class="fas fa-heart"></i> 
                                        </button>
                                    </form>
                                <% } %>
                                <%= receta.nombre %> 
                            </h2>
                          
                            <p><b>Descripción:</b> <%= receta.descripcion %></p>
                            <p><b>Tiempo:</b> <%= receta.tiempo %></p>
                            <p><b>Dificultad:</b> <%= receta.dificultad %></p>
        
                     

                            <% if(isOwner) { %>
                                <form method="post" action="/admin/delete/<%= receta._id %>" class="bakery-button">
                                    <input type="hidden" name="idReceta" value = "<%= receta._id %>">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="submit" value="Eliminar" >
                                </form>
    
                                <form method="get" action="/admin/edit-recipe/<%= receta._id %>"  class="bakery-button">
                                    <input type="hidden" name="idReceta" value = "<%= receta._id %>">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="submit" value="Editar" >
                                </form>
                            <% } %>

                        </div>
                    </a>
                <% } %>
            </div>
        </div>
    </div>
</body>

<%- include('../includes/footer') %>