<link rel="stylesheet" href="/style/form.css">
<script src="/javascript/scripts.js"></script>
<%- include('includes/nav.ejs') %>

<body>
    <div class="container">
        <h2>Añadir Nueva Receta</h2>
        <form action="/admin/replace" method="post">
            <!--- Ocultamos la id para después usarla-->
            <label for="id" hidden>Id:</label>
            <input type="hidden" id="id" name="id" value="<%= receta.id %>">



            <label for="nombre">Título de la Receta:</label>
            <input type="text" id="nombre" name="nombre" value="<%= receta.nombre %>" required >

            <label for="image">URL de la Imagen:</label>
            <input type="text" id="image" name="image" value="<%= receta.image %>" required>

            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="5"  required>
                <%= receta.descripcion %>
            </textarea>


            <label for="ingrediente">Ingredientes:</label> 
            <button type="button" onclick="agregarIngrediente()"> 
                Agregar ingrediente 
            </button>
            <div id="bloque-ingredientes">
            <% for (let ingr of receta.ingredientes) { %>
                <input type="text" name="ingredientes[]" value="<%= ingr %>" required>
            <% } %>
            </div>

            <input type="submit" value="Añadir Receta">
        </form>
    </div>

    <%- include('includes/footer') %>
</body>