<link rel="stylesheet" href="/style/form.css">
<script src="/javascript/scripts.js"></script>
<%- include('includes/nav.ejs') %>

<body>
    <div class="container">
        <h2>Añadir Nueva Receta</h2>
        <form action="/admin/onEdit/<%= receta.id %>" method="post">
            <!--- Ocultamos la id para después usarla-->
            <label for="id" hidden>Id:</label>
            <input type="hidden" id="id" name="id" value="<%= receta.id %>">


            <label for="nombre">Título de la Receta:</label>
            <input type="text" id="nombre" name="nombre" value="<%= receta.nombre %>" required >


            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="5"  required><%= receta.descripcion.trim() %></textarea>


            <label for="ingrediente">Ingredientes:</label> 
            
            <div id="bloque-lista">
                <button type="button" onclick="addClick(this, 'ingredientes')" class="button-add" id="ingr-button">+</button>
            <% for (let ingr of receta.ingredientes) { %>
                <input type="text" name="ingredientes[]" value="<%= ingr %>" >
                <button type="button" onclick="removeClick(this)" class="button-delete" id="ingr-button">-</button>
            <% } %>
                
            </div>

            <label for="tiempo">Tiempo de preparación: </label>
            <input type="text" name="tiempo" value="<%= receta.tiempo %>" required>

            <label for="dificultad">Dificultad:</label>
            <select name="dificultad" id="dificultad">
                <option value="1">Es una receta fácil y adaptable, acepta modificaciones</option>
                <option value="2">Requiere controlar bien tiempos y temperatura</option>
                <option value="3">Requiere controlar bien las cantidades</option>
                <option value="4">Requiere precisión en cantidades y tiempos, no admite muchas variaciones</option>
            </select> <br><br><br><br>

            <div class="bloque-lista">
                <label for="instrucciones">Instrucciones:</label> 
                <p> Aquí puedes detallar cómo es la elaboración paso a paso. </p>
                <div id="bloque-lista">
                    <button type="button" onclick="addClick(this, 'instrucciones')" class="button-add" id="ingr-button">+</button>
                <% for (let instr of receta.instrucciones) { %>
                    <input type="text" name="instrucciones[]" value="<%= instr %>" >
                    <button type="button" onclick="removeClick(this)" class="button-delete" id="ingr-button">-</button>
                <% } %>
            </div>

            <label for="image">URL de la Imagen:</label>
            <input type="text" id="image" name="image" value="<%= receta.image %>" required>

            <input type="submit" value="Añadir Receta">
        </form>
    </div>

    <%- include('includes/footer') %>
</body>