<link rel="stylesheet" href="/style/form.css">
<script src="/javascript/scripts.js"></script>
<%- include('includes/nav.ejs') %>

<body>
    <div class="container">
        <h2>Añadir Nueva Receta</h2>
        <form action="/admin/replace" method="post">
            <!--- Ocultamos la id para después usarla-->
            <label for="id" hidden>Id:</label>
            <input type="hidden" id="id" name="id" value="<%= receta.id %>">



            <label for="nombre">Título de la Receta:</label>
            <input type="text" id="nombre" name="nombre" value="<%= receta.nombre %>" required >


            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="5"  required>
                <%= receta.descripcion %>
            </textarea>


            <label for="ingrediente">Ingredientes:</label> 
            
            <div id="bloque-ingredientes">
                <button type="button" onclick="agregarIngrediente()" class="button-add" id="ingr-button">+</button>
            <% for (let ingr of receta.ingredientes) { %>
                <input type="text" name="ingredientes[]" value="<%= ingr %>" >
            <% } %>
                
                <button type="button" onclick="removeIngrediente(this)" class="button-delete" id="ingr-button">-</button>
            </div>

            <label for="tiempo">Tiempo de preparación: </label>
            <input type="text" name="tiempo" value="<%= receta.tiempo %>" required>

            <label for="dificultad">Dificultad:</label>
            <select name="dificultad" id="dificultad">
                <option value="1">Es una receta fácil y adaptable, acepta modificaciones</option>
                <option value="2">Requiere controlar bien tiempos y temperatura</option>
                <option value="3">Requiere controlar bien las cantidades</option>
                <option value="4">Requiere precisión en cantidades y tiempos, no admite muchas variaciones</option>
              </select> <br><br>

            <label for="image">URL de la Imagen:</label>
            <input type="text" id="image" name="image" value="<%= receta.image %>" required>

            <input type="submit" value="Añadir Receta">
        </form>
    </div>

    <%- include('includes/footer') %>
</body>