<%- include('includes/nav.ejs') %>
<body>
    
   

    <div class="container">
        <% for (let receta of recetas) { %>
            <div class="recipe-summary">
                <img src="<%= receta.image %>">
                <h2>Nombre: <%= receta.nombre %></h2>
                <p>Tiempo: <%= receta.tiempo %></p>
                <p>Dificultad: <%= receta.dificultad %></p>
                <p>Descripción: <%= receta.descripcion %></p>
                <a href="#">Leer más</a>
            </div>
        <% } %>

</body>

<%- include('includes/footer') %>
</html>
