<%- include('includes/navigation.ejs') %>
<link rel="stylesheet" href="/style/index.css">

<body>




    <div class="container" id="main">
        <% for (let receta of recetas) { %>
            <div class="recipe-summary">
                <a href="/recipe-details/<%= receta._id %>">
                    <img src="<%= receta.image %>" alt="<%= receta.image %>">
                </a>
                <h2>
                    <a href="/recipe-details/<%= receta._id %>">
                        <%= receta.nombre %>
                    </a>
                </h2>
                <p><b>Descripción:</b> <%= receta.descripcion %></p>
                <p><b>Tiempo:</b> <%= receta.tiempo %></p>
                <p><b>Dificultad:</b> <%= receta.dificultad %></p>

                    <form method="post" action="/add-bookmark">
                        <input type="hidden" name="idReceta" value = "<%= receta._id %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="submit" value="Guardar en favoritos">
                    </form>
                
            </div>
        <% } %>
    </div>

    <%- include('includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>

<%- include('includes/footer') %>
</body>
</html>

