<link rel="stylesheet" href="/style/recipe-details.css">
<body>

    <body>

    <%- include('includes/nav.ejs') %>

    <div class="container">
        
        <h1>Detalle de la Receta <%= receta.nombre %></h1>
        <div class="recipe-details">
            <h2>Tarta de Chocolate</h2>
            <div class="recipe-image">
                
                <img src="<%= receta.image %>" alt="alt de la imagen?">
      
            </div>
            <h3>Ingredientes:</h3>
            <ul>
                <% for (let ingrediente of receta.ingredientes) { %>
                    <li> <%= ingrediente %> </li>
                <% } %>
            </ul>

            <h3>Instrucciones:</h3>
            <ol>
                <li>Precalentar el horno a 180°C.</li>
                <li>Derretir el chocolate y la mantequilla juntos.</li>
                <li>Batir los huevos con el azúcar hasta que estén espumosos.</li>
                <li>Agregar la mezcla de chocolate y mantequilla a los huevos batidos.</li>
                <li>Mezclar la harina, la levadura y la sal, y añadir a la mezcla anterior.</li>
                <li>Verter la mezcla en un molde engrasado y hornear durante 25-30 minutos.</li>
                <li>Dejar enfriar antes de desmoldar y servir.</li>
            </ol>
            <a href="/admin/edit/<%= receta.id %>" class="bakery-button">Modificar receta</a>
           
        </div>   
    </div>

    

</body>
<%- include('includes/footer') %>

</html>
