<link rel="stylesheet" href="/style/recipe-details.css">
<body>

   
    <%- include('includes/navigation.ejs') %>

    <div class="container">
        
        <div class="recipe-details">
            <h2><%= receta.nombre %></h2>

            <a href="/admin/profile/<%= creator._id %>">
                <h4> Autor@ de la receta: <%= creator.name.charAt(0).toUpperCase() + creator.name.slice(1) %> </h4>
            </a>
            
            <div class="recipe-image">
                <img src="<%= receta.image %>" alt="<%= receta.image %>">
            </div>

            <p>
                <%= receta.descripcion %>
            </p>


            <h3>Ingredientes</h3>
            <ul class="listado-details">
                <% for (let ingrediente of receta.ingredientes) { %>
                    <li> <%= ingrediente %> </li>
                <% } %>
            </ul>

            <h3>Instrucciones</h3>
            <ol class="listado-details">
                <% for (let instruccion of receta.instrucciones) { %>
                    <li> <%= instruccion %> </li>
                <% } %>
            </ol>

            <h3>Tiempo de elaboración</h3>
            <p>
                <%= receta.tiempo %>
            </p>

            <h3>Dificultad</h3>
            <p>
                <%= receta.dificultad %>
            </p>

            <% if(isCreator) { %>
                <a href="/admin/edit-recipe/<%= receta._id %>" class="bakery-button">Modificar receta</a>
                <a href="/generate-pdf/<%= receta._id %>" class="bakery-button">Convertir a PDF</a>
            <% } %>
           
        </div>   
    </div>

    

</body>
<%- include('includes/footer') %>

</html>
