
<script src="/javascript/scripts.js"></script>
<link rel="stylesheet" href="/style/index.css">

<%- include('../includes/navigation.ejs') %>


    <body>
        <div class="container" id="main">
            <%for (let receta of recetas) { %>
                <div class="recipe-summary">
                    <a href="/recipe-details/<%= receta._id %>">
                        <img src="<%= receta.image %>" alt="Imagen de <%= receta.nombre %>">
                    </a>
                    <h2>
                        <a href="/recipe-details/<%= receta._id %>">
                            <%= receta.nombre %>
                        </a>
                    </h2>
                    <p><b>Descripción:</b> <%= receta.descripcion %></p>
                    <p><b>Tiempo:</b> <%= receta.tiempo %></p>
                    <p><b>Dificultad:</b> <%= receta.dificultad %></p>
    
                    <form method="post" action="/delete-bookmark">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="idReceta" value = "<%= receta._id %>">
                        <input type="submit" value="Eliminar de favoritos">
                    </form>
                    
                </div>
            <% } %>
        </div>
    </body>



<%- include('../includes/footer') %>